@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Poppins', sans-serif;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;
	position: relative;
	background-color: rgb(95, 95, 95);
	font-weight: 500;
}

.links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.links li {
	list-style: none;
}

.links li a {
	text-decoration: none;
	color: white;
}

.input {
	border-radius: 20px;
	border: 2px solid white;
	padding: 4px;
	width: 15vw;
	padding: 5px 20px;
	background-color: grey;
	color: white;
}

.input::placeholder {
	color: white;
}

.search-logo {
	position: absolute;
	right: 24vw;
	top: 20px;
	cursor: pointer;
	color: white;
}

.about {
	font-size: xx-large;
	background-color: white;
	border-radius: 50%;
	color: grey;
	padding: 6px;
	cursor: pointer;
}

.cover {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	padding-right: 5vw;
	background-color: lightgrey;
	align-items: center;
}

.backgroundDesign {
	width: 170px;
	background-color: white;
	text-align: center;
	padding: 8px 0;
	border-radius: 10px;
	box-shadow: 0px -3px 5px 1px grey;
}

.stats {
	display: flex;
	justify-content: space-evenly;
	width: 65%;
}

.interaction-stats {
	width: 25%;
	border-right: 1px solid grey;
	min-height: 80vh;
	max-height: 84vh;
	overflow: auto;
}

.topic {
	text-align: center;
	background-color: grey;
	color: white;
	padding: 8px 0;
}

.actual-stat {
	padding: 20px;
	padding-left: 40px;
	text-align: start;
}

.actual-stat h4 {
	padding-left: 10px;
	font-size: large;
}

.recommendation {
	padding-left: 10px;
	display: flex;
	align-items: center;
}

.color {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin-right: 10px;
}

.line {
	margin-top: 15px;
	width: 90%;
	background-color: grey;
	height: 2px;
	text-align: center;
}

.tip {
	margin-left: 30px;
	margin-top: 20px;
	padding: 5px;
	width: 80%;
	height: 50px;
	text-align: center;
	border: 2px solid grey;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.bulb {
	color: rgb(255, 225, 0);
	font-size: larger;
	margin: 0 20px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.group-chat {
	width: 25%;
	border-left: 1px solid grey;
	min-height: 84vh;
	position: relative;
}

.input-chat {
	background-color: white;
	border: 2px solid grey;
	border-radius: 20px;
	padding: 5px;
	width: 20vw;
	padding: 5px 20px;
	color: grey;
	margin-top: 15px;
	/* text-align: center; */
	margin-left: 30px;
	margin-bottom: 15px;
}

.input-chat::placeholder {
	color: grey;
}

.search-logo-chat {
	color: grey;
	position: absolute;
	right: 4vw;
	align-items: center;
	top: 8.5vh;
	cursor: pointer;
}

.msg {
	height: 280px;
	background-color: lightgray;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.imput-msg {
	margin-top: 20px;
	height: 200px;
	width: 90%;
	border-radius: 10px;
	border: 2px solid grey;
	align-items: flex-start;
}

.btn {
	border: none;
	width: 80px;
	height: 30px;
	margin-top: 20px;
	background-color: grey;
	color: white;
	border-radius: 15px;
	margin-left: 250px;
	cursor: pointer;
}

.filterContainer {
	width: 20%;
	border-right: 2px solid lightgrey;
	min-height: 92vh;
}

.filterContainer h1 {
	text-align: center;
	margin: 5px;
	padding-right: 50px;
}

.filter {
	width: 70%;
	margin: auto;
	margin-top: 20px;
}

.filter input {
	margin-top: 10px;
	border: 1px solid lightgrey;
	padding: 5px;
	border-radius: 5px;
}

.filter input::placeholder {
	color: grey;
}

.filter button {
	margin-left: 5px;
	border: none;
	background-color: lightgrey;
	padding: 2px 4px 4px 4px;
	font-size: larger;
	border-radius: 5px;
}

.call-flex {
	display: flex;
	justify-content: flex-start;
}

.call-logs {
	width: 55%;
}

.call-logs p {
	font-size: 2rem;
	margin: 8px 0 70px 2.5rem;
}

.calls {
	margin: auto;
	width: 90%;
	height: 60px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-bottom: 20px;
}

.contacts-container {
	width: 25%;
	max-height: 92vh;
	border-left: 2px solid lightgrey;
	overflow-y: scroll;
}

.contacts-title {
	text-align: center;
	height: 40px;
	border: 2px solid lightgrey;
	font-size: 1.1rem;
	padding: 10px 0;
}

.contact-placing {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: -25px;
	position: relative;
}

.sort-by {
	border: 2px solid grey;
	border-radius: 12px;
	margin-top: 15px;
	padding: 4px 1px 4px 1px;
	width: 400px;
	margin-right: 10px;
}

.image {
	width: 40px;
	height: 45px;
	border: 2px solid grey;
	background-color: grey;
	border-radius: 50%;
	margin-left: 10px;
}

.contact {
	width: 80%;
	border: 1px solid lightgrey;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	margin-top: 20px;
	height: 65px;
	border-radius: 10px;
}

.detail {
	margin-left: 20px;
}

.search-logo-contact {
	position: absolute;
	margin-left: 11vw;
	color: grey;
	margin-top: -8px;
	cursor: pointer;
}

.call-image {
	margin-top: 9vh;
	width: 45%;
	height: 500px;
}

.link {
	color: goldenrod;
	text-decoration: underline;
}

.chats {
	width: 100%;
	overflow: auto;
	max-height: 33vh;
}

.client-msg {
	width: 60%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5px;
}

.caller-msg {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 8vw;
	margin-top: 5px;
}

.client-text {
	margin-left: 5px;
	border: 2px solid lightgrey;
	width: 60%;
	padding: 4px;
	border-radius: 8px 8px 8px 0;
	background-color: lightgrey;
}

.caller-text {
	border: 2px solid lightgrey;
	width: 60%;
	padding: 4px;
	border-radius: 8px 8px 0 8px;
	background-color: lightgrey;
}

.page-title {
	text-align: center;
	font-size: 2.4rem;
}

.company-logo {
	width: 6.5%;
	background-color: white;
	color: white;
	border-right: 4px solid rgb(95, 95, 95);
	border-radius: 10px;
}
